.forkme-button {
	position: absolute;
	top: 50px;
	right: 0px;
}

/** AddToAny **/
.a2a_dd img {
	position:fixed;
	bottom: 0;
	right: 0;
}

/** Aesthetic tipue overrides **/
#tipue_search_input {
	color: inherit !important;
	border: 1px solid #5D0015 !important;
	background: #010C1F !important;
}

#tipue_search_warning_head {
	color: inherit !important;
}

#tipue_search_results_count {
	color: inherit !important;
}

.tipue_search_content_title a,
.tipue_search_content_loc a {
	color: #2A9FD6 !important;
}

.tipue_search_content_title a,
.tipue_search_content_loc a:hover {
	border-color: #2A9FD6 !important;
}

.tipue_search_content_text {
	color: inherit !important;
}