## -*- coding: utf-8 -*-
<%namespace name="helper" file="post_helper.tmpl"/>
<%namespace name="pheader" file="post_header.tmpl"/>
<%namespace name="comments" file="comments_helper.tmpl"/>
<%inherit file="post.tmpl"/>

<%block name="extra_head">
    ${parent.extra_head()}
    % if post.meta('keywords'):
        <meta name="keywords" content="${post.meta('keywords')|h}">
    % endif
    <meta name="author" content="${post.author()}">
    ${helper.open_graph_metadata(post)}
    ${helper.twitter_card_information(post)}
    ${helper.meta_translations(post)}
    %if post.description():
        <meta name="description" itemprop="description" content="${post.description()}">
    %endif
</%block>

<%block name="content">
<% import ast %>
<article class="storypage" itemscope="itemscope" itemtype="http://schema.org/Article">
    <header>
        ${pheader.html_title()} 
        <span class="small">
            by 
            %if post.meta('contributors'):
                %for contributor in ast.literal_eval(post.meta('contributors')):
                    %if loop.last and loop.index > 0:
                    and 
                    %endif
                    <a href="${contributor[1]}">${contributor[0]}</a>
                    %if not loop.last and loop.reverse_index > 1:
                    , 
                    %endif
                %endfor
            %endif
        </span>
        ${pheader.html_translations(post)}
    </header>
    <div itemprop="articleBody text">
        <a href="http://github.com/${post.author()}/${post.title()}">
            <img src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" class="forkme-button"></img>
        </a>

        <h2>Screenshots</h2>
        All screenshots are located <a href="/galleries/screenshots/${post.meta('slug')}">here</a>

        <h2>What <i>is</i> this?</h2>

        ${post.text()}

        <h2>Download</h2>

        <a href="http://github.com/${post.author()}/${post.title()}/zipball/master">
            <img alt="zip" src="http://github.com/images/modules/download/zip.png"></img>
        </a>

        <a href="http://github.com/${post.author()}/${post.title()}/tarball/master">
            <img alt="tar" src="http://github.com/images/modules/download/tar.png"></img>
        </a>

        <br />
        You can also clone the project with <a href="http://git-scm.com">Git</a> by running:
        <br />
        <code>
            $ git clone git://github.com/${post.author()}/${post.title()}
        </code>
        <br />
        Get the source code on GitHub : <a href="http://github.com/${post.author()}/${post.title()}">${post.author()}/${post.title()}</a>
    </div>
    %if site_has_comments and enable_comments and not post.meta('nocomments'):
        <section class="comments">
        <h2>${messages("Comments")}</h2>
        ${comments.comment_form(post.permalink(absolute=True), post.title(), post.base_path)}
        </section>
    %endif
</article>
</%block>
